
  body {
    background-color: #d9eeec;
    color: #3c70a4;
    font-family: 'Itim', cursive, 'sans-serif';
    font-size: 1.5vw;
  }

  hr {
    border-color: #dbe2ef;
    border-style: double none none;
    border-width: 3px;
  }

h1 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  color: #3c70a4;
}

 h3 {
   color: #3c70a4;
 }

 h3:hover{
   color: #da9833;
 }

 img {

 }

 p{
   margin-top: auto;
   margin-bottom: auto;
 }

 .img-fluid {
   margin: auto;
   text-align: center;
 }

.profile-pic {
  border-radius: 30%;
  max-width: 300px;
  height: auto;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: inherit;
  border: none;
}

.card-header {
  background-color: inherit;
  border: none;
}

.card-body {
  background-color: rgba(255,255,255, 0.3);
}
